img {
    max-width: 100%;
    max-height: calc(100vh - 140px);
    margin-left: 10px;
    display: block;
}

.action_button {
    min-width: 100px;
    margin-top: 10px;
}

.wrapper {
    text-align: center;
}



.main_image {
    margin-top: 10px; 
    text-align: center;
    position: relative;
}

.garden_image {
    position: relative;
}

.items_icon {
    position: absolute;
    cursor: default;
}