img {
   /* max-width: 100%;
    max-height: calc(100vh - 165px);*/
    display: block;
    margin: 0;
}

mat-slider {
    z-index: 100; 
    position: absolute;
    left: 0;
    min-height: 350px;
}

.main_image {
    height: calc(100vh - 183px);
    width: 100%;
}

.garden_title_h2 {
    margin: 0;
}

.action_button {
    min-width: 100px;
    margin-top: 10px;
}

.wrapper {
    text-align: center;
}

.image-src {
    width: 100%;
}

.main_image {
    overflow: auto;
    text-align: center;
    position: relative;
}

.wrapper_image {
    position: relative;
    margin: auto;
}

.garden_image {
    height: fit-content;
    position: relative;
    display: block;
}

.items_icon {
    position: absolute;
    cursor: default;
}

.tooltip {
    font-size: 10px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: gray;
    border-radius: 4px;
    padding: 5px;
    color: white;
    top: 28px;
}