<div class="garden_title">
  <h2 class="garden_title_h2" align="center">  {{text}}</h2>
</div>
<mat-tab-group>
    <mat-tab label="Карта"> 

    <mat-spinner *ngIf="imageSrc == null"> </mat-spinner>
    
    <div class="main_image" #wrapper fxLayout="row" fxLayoutAlign="center" (wheel)="test2($event)">
      <a class="garden_image" (touchstop)="putItem($event)" (mouseup)="putItem($event)">
        <img  #image *ngIf="imageSrc !== null" src="{{ imageSrc }}" (load)="test($event)">
          <mat-icon  matTooltip="<Название>" (click)="openItem(item)" *ngFor="let item of items" class="items_icon" color="warn" [style.left.%]="item.coord.x" [style.top.%]="item.coord.y">radio_button_checked</mat-icon>
          <div class="items_icon" *ngFor="let itemOld of itemsDb" [style.left.%]="itemOld.coord.x" [style.top.%]="itemOld.coord.y">
            <mat-icon class="items_icon" (touchstart)="openItem(itemOld)" (click)="openItem(itemOld)" color="accent" >radio_button_checked</mat-icon>
            <span class="tooltip">{{ itemOld.name }}</span>
          </div>
      </a>
    </div>
    </mat-tab>
    <mat-tab label="Таблица">  </mat-tab>
    <mat-tab label="Настройки">  </mat-tab>
  </mat-tab-group>

