.create_garden{
    margin: 15px;
}

.qwerty {
  position: relative;
  margin: 10px;
}
.test {
  max-width: 80%;
  max-height: calc(100vh - 140px);
  margin-left: 10px;
  display: block;
}

.test2 {
  position: absolute;
  cursor: move;
  left: 0px;
  top: 0px;
}


.gardens{
    margin: 15px;
}

.gardens {
    flex-wrap: wrap;
  }
  
  .mat-card:hover {
    opacity: 0.6;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  .mat-card {
    flex-wrap: wrap;
    margin: 10px;
    max-width: 300px;
    min-width: 200px;
  }
  
  .mat-card-title{
    text-align: center;
  }

  .garden-image{
      width: 100%;
  }
  mat-card-content{
      padding-top: 10px;
  }

  .open-button{
    margin: 0 auto;
  }