<button class="create_garden" mat-raised-button color="primary" (click)='createGarden()'>Создать</button>

<div class="row gardens">
  <h2>Ваши участки</h2>
  <section class="gardens" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
      
      <mat-card *ngFor="let item of gardens" fxFlex.xs="100%">
        <mat-card-header>
          <mat-card-title fxLayoutAlign="center">{{item.text}}</mat-card-title>
        </mat-card-header>
        <img class="garden-image" *ngIf="item.url !== null" src="{{ item.url }}">
      <mat-spinner *ngIf="item.url == null"> </mat-spinner>
        <mat-card-content>
            <h4>На участке 0 объектов</h4>
        </mat-card-content>
      </mat-card>
  </section>
</div> 
<div>
  <img *ngIf="imageSrc" [src]="imageSrc" style="max-width: 200px">
</div>