<img src="img/Untitled2.jpg">

<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <h1>Карта участка</h1>
    <p>Создайте карту собственного сада и огорода</p>
  </section>
  <section>
    <h1>Ландшафтный дизайн</h1>
    <p>Планировка саженцов, рассады и др.</p>
  </section>
  <section>
    <h1>Взаимодействие с единомышленниками</h1>
    <p>Делитесь своим опытом с другими участниками сообщества</p>
  </section>
</div>
